*{
    margin: 0;
    padding: 0;
    list-style: none;
    outline: none;
}

header h2{
    font-family: arial;
    padding: 1rem;
    background-image: linear-gradient(to bottom, rgb(23, 252, 23), rgb(23, 109, 23));
    color: white;
    letter-spacing: .1rem;
    font-size: 1.6rem;
    text-align: center;
    position: relative;
}
header h2 i{
    margin: 0 2rem;
    font-size: 2.4rem;
}

header h2 i#close{
    color: rgb(192, 2, 2);
    opacity: .7;
    cursor: pointer;
    position: absolute;
    left: 2%;
}
header h2 i#close:hover{
    opacity: 1;
    color: rgb(248, 27, 27);
}

.hamb{
    position: fixed;
    top: 1.5rem;
    left: 10rem;
    cursor: pointer;
    transition: all 1.3s;
    z-index: 10;
    display: block;
}
.hamb.open{
    top: 6.5rem;
    left: 13.5rem;
}
.hamb.close{
    display: none;
}
.hamb div{
    width: 1.5rem;
    height: .15rem;
    margin: .2rem 0;
    background-color: #fff;
    box-shadow: 0 0 .2rem black;
}
.hamb.open div{
    background-color: #000;
}
.hamb.open:hover div{
    background-color: red;
    box-shadow: 0;
}
.hamb.open div:nth-child(1) {
    transform: rotate(45deg) translate(1px, 7px);
}
.hamb.open div:nth-child(2) {
    opacity: 0;
}

.hamb.open div:nth-child(3) {
    transform: rotate(-45deg) translate(1px, -7px);
}
main{
    position: relative;
    top: -8px;
}
main .containerContent{
    display: flex;
}
main .containerContent .content{
    width: 100%;
    margin: 1.4rem;
}
