#filters{
    display: none;
}
#filters.show {
    width: 300px;
    padding: 2rem;
    background-color: #ccc;
    min-height: 100vh;
    position: relative;
}
#filters span.closeMenu{
    position: absolute;
    right: 1rem;
    top: 1rem;
    font-size: 2rem;
    color: #000;
    cursor: pointer;
}
#filters span.closeMenu:hover{
    color: red;
    box-shadow: 0;
}
.filter-group {
    margin-top: 20px;
}

.filter-item {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

input[type="checkbox"] {
    margin-right: 10px;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

body {
    font-family: Verdana;
}
